
@font-face {
    font-family: 'introrustg-base2line';
    src: url('../Fonst/introrustg_base2line_macroman/introrustg-base2line-webfont.woff2') format('woff2'),
         url('../Fonst/introrustg_base2line_macroman/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    height:100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-size: cover; /* Makes sure the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */ 

}
.background-img{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    opacity: 0.8;  
}
.body-wrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.score{
    font-family: 'introrustg-base2line';
    position: absolute;
    top:0;
    left: 0;
    color: rebeccapurple;
    opacity: 1;
    font-size: min(6vh,6vw);
    z-index: 400;
    background-color: black;
    padding: min(1vh,1vw) min(2vh,2vw);
    border-radius: 10px;
    box-shadow:min(0.5vh,0.5vw) min(1vh,1vw) min(1vh,1vw) rgba(0,0,0,0.5);
}
.swords-icon{
    width: 10vh;
    position: absolute;
    z-index: 300;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.player{
    font-family: 'introrustg-base2line';
    background-color: black;
    position: fixed;
    right: min(1vh,1vw);
    bottom: min(1vh,1vw);
    color: white;
    font-size: min(5vh,5vw);
    padding: min(1vh,1vw) min(2vh,1vw);
    border-radius: 10px;
    box-shadow: 10px 0px 10px rgba(0,0,0,1);
    z-index: 400;
}
.pc{
    font-family: 'introrustg-base2line';
    background-color: black;
    position: fixed;
    right: min(1vh,1vw);
    top: min(1vh,1vw);
    color: white;
    font-size: min(5vh,5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
    border-radius: 10px;
    box-shadow: 10px 0px 10px rgba(0,0,0,1);
    z-index: 400;
}

.end{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    position: absolute;
    z-index: 400;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: min(8vh,8vw);
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
.end-p{
    font-size: min(3vh,3vw);
}

.enemy-screen{
display: flex;
border:  min(0.5vh,0.5vw) solid black;
flex:1;
justify-content: center;
align-items: start;
}

.player-screen{
display: flex;
border:  min(0.5vh,0.5vw) solid black;
flex:1;
justify-content: center;
align-items: end;
}

.player-choise-screen,
.enemy-choise-screen{
    display: flex;
    gap: min(1.5vh,1.5vw);
}
.enemy-choise-screen{
    opacity: 0.8;
}

.rock-img,
.scissor-img,
.paper-img{
    width: min(30.7vh,30.7vw);
    height: min(44.8vh,44.8vw);
    border:  min(0.5vh,0.5vw) dashed black;
}
.container-paper,
.container-scissors,
.container-rock{
    position: relative;
}

.paper-text{
font-family: 'introrustg-base2line';
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
color: white;
background-color: black;
font-size: min(5vh,5vw);
padding: min(1vh,1vw) min(2vh,2vw);
border-radius: 10px;
box-shadow: min(1vh,1vw) 0px min(1vh,1vww) rgba(0,0,0,1);
opacity: 0;
}


@media screen and (orientation: portrait) {
    /* Your styles for when the height is greater than the width */

    .paper-text{
        opacity: 1;
        }
   
}